html, body {
   margin: 0;
   padding: 0;
}

h1 {
   color: #000;
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
}
.container{
  width: 100%;
    overflow: hidden;
}
.section {
  overflow: hidden;
   position: relative;
   width: 23%;
   display: inline-block;
   margin: 0 2px;
   position: relative;
   border: 1px solid black;
   padding: 12px;
}
.img {
    width: 200px;
    height: 200px;
}
.title {
   color: #000;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 5px;
}

.subtitle {
   color: #afafaf ;
   font-size: 14px;
}

.price {
   color: #000;
   font-size: 14px;
   font-weight: 700;
   bottom: 100px;
   right: 20px;
   line-height: 60px;
   width: 60px;
   height: 60px;
   position: absolute;
   background: yellow;
   border-bottom:5px solid #000;
   text-align: center;
}
